<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.shiba.myapp" >

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="Top dayo"
		android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
		<activity
			android:name=".MainActivity"
			android:label="MainActitity" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".MainActivity2"
			android:label="MainActitity2" >
		</activity>
	</application>

</manifest>
